@import '../../../helpers.scss';

.servings-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;

  .label-title {
    font-weight: 600;
    font-size: toRem(14);
    text-transform: capitalize;
    color: $primary;
  }

  .inputs {
    display: flex;
    gap: 1rem;
  }
}
