@use '../../../../helpers.scss' as s;

.recipe-stats-foot {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid s.$gray-400;

  .stats-minimal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.1rem;
    color: s.$secondary-text;
    font-weight: 600;
    font-size: 0.95rem;

    .stat {
      display: flex;
      align-items: center;
      gap: 0.45rem;

      .icon {
        height: 18px;
        width: 18px;
        color: s.$tertiary-text;
      }
      .icon.star {
        color: s.$primary;
      }
      b {
        color: s.$primary-text;
        font-weight: 700;
      }
    }

    .sep {
      color: s.$gray-500;
    }
  }

  @media screen and (max-width: 500px) {
    .stats-minimal {
      gap: 0.75rem;
      font-size: 0.85rem;
      .sep {
        display: none;
      }
    }
  }
}
