@import '../../helpers.scss';

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: toRem(14);
  font-weight: 600;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid $tertiary-text;

  .select {
    max-width: 250px;
    width: 100%;
  }

  .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    .tag {
      padding-right: 0.5rem;

      .count {
        margin-left: 0.25rem;
      }
    }
    .tag.tag-not-selected {
      background: none;
      border: 1px solid $primary-text;
    }
  }

  @media screen and (max-width: 956px) {
    .tags {
      gap: 0.25rem;
      .tag {
        font-size: toRem(12);
        font-weight: 700;
      }
    }
  }
  @media screen and (max-width: 815px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    gap: 1rem;
    .tags {
      gap: 0.5rem;
      flex-wrap: wrap;
      .tag {
        font-size: toRem(14);
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: 725px) {
    align-items: center;
    .select {
      max-width: 90%;
    }
  }
}
