@import '../../../helpers.scss';

.ingredients-list {
  position: relative;
  height: fit-content;

  .list-title {
    font-size: toRem(16);
    font-weight: 600;
    padding-bottom: 1rem;
    text-transform: capitalize;
  }
  .list-title-input {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  .remove-list-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: toRem(14);
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  input {
    background: none;
    border: none;
    outline: none;
    border: 1px solid $tertiary-text;
    border-radius: $border-radius;
    height: 100%;
    padding: 0 1rem;
    font-size: toRem(16);
    font-weight: 500;
    height: 45px;
  }

  .inputs {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .ingredient-quantity {
      width: 5ch;
      // height: 45px;
    }
    .measurement-container {
      position: relative;
      height: 45px !important;
      // font-size: toRem(20);
      font-size: toRem(16);
      font-weight: 500;
      color: $primary-text !important;
      // background: red;

      .label {
        position: absolute;
        z-index: 10;
        top: -3px;
        left: 10px;
        font-size: toRem(14);
        font-weight: 500;
        color: $primary;
        background: $primary-background;
        padding: 0;
        margin: 0;
        line-height: 0.5;
      }
    }
    .ingredient-name {
      width: 300px;
    }

    .ingredient-cost-input-container {
      position: relative;
      display: flex;
      align-items: center;

      .dollar-symbol {
        position: absolute;
        padding: 0 0.5rem;
        font-weight: 500;
        color: $secondary-text;
      }
      input {
        padding-left: 1.5rem;
      }
    }

    .add-ingredient-btn {
      font-size: toRem(16);
      font-weight: 600;
      height: 45px;
      border: 1px solid $tertiary-text;
      background: $secondary-background;
      padding: 0 1rem;
      border-radius: $border-radius;
    }

    @media screen and (max-width: 725px) {
      .ingredient-quantity {
        width: 25%;
      }
      .measurement-container {
        flex: 1;
        min-width: 160px;
      }
      flex-wrap: wrap;

      .ingredient-name {
        flex: 1;
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;

    .ingredient-item {
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $secondary-background;
      height: 45px;
      font-size: toRem(16);
      font-weight: 600;

      .drag-icon-container {
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 1rem;

        .drag-icon {
          height: 22px;
          width: 22px;
        }
      }

      .content {
        display: flex;
        align-items: center;
        height: 100%;

        div.field {
          display: flex;
          align-items: center;
          height: 70%;
          padding: 0 0.5rem;
          background: none;
          border: none;
          outline: none;
          width: fit-content;

          &:hover {
            border: 1px solid $secondary-text;
          }
        }
      }

      .remove {
        position: absolute;
        right: 1rem;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }
  }

  .error,
  .success {
    margin: 0.5rem 0;
  }
}
