@import '../../helpers.scss';

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  height: $nav-height;
  // background: $primary;
  width: 90%;
  max-width: $max-width;

  .nav-header {
    .hamburger {
      display: none;
    }
    .hamburger.light {
      color: $white;
    }

    @media screen and (max-width: 725px) {
      .hamburger {
        position: absolute;
        z-index: 11;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        display: block;
        height: 40px;
        width: 40px;
        color: $primary-text;
      }
    }
  }

  .nav-content {
    display: flex;
    justify-content: flex-end;
    .nav-links {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .nav-link {
        text-transform: capitalize;
        font-size: toRem(18);
        font-weight: 700;
        color: $primary-background;
        text-decoration: none;
        white-space: nowrap;
      }
      .account-link {
        background: $primary-text;
        border-radius: 50%;
        border: 1px solid $primary-background;
        width: 45px;
        height: 45px;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-size: toRem(30);
        color: $primary;
        font-weight: 500;
      }
      .dropdown {
        position: relative;
      }
      .dropdown-links {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        width: 175px;
        padding-bottom: 0.5rem;

        background: $primary-background;
        border: 1px solid $gray-400;
        border-radius: $border-radius;

        .dropdown-section {
          border-bottom: 1px solid $gray-400;
        }
        .signed-in-as {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          height: fit-content;

          padding: 0.5rem 1rem;

          .icon {
            height: 20px;
            width: 20px;
            flex-shrink: 0;
            color: $primary-text;
          }
          .text {
            font-size: toRem(14);
            font-weight: 600;
          }
        }
        .nav-link {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: $primary-text;
          padding: 0rem 1rem;
          .icon {
            height: 20px;
            width: 20px;
            flex-shrink: 0;
          }
          .text {
            font-size: toRem(14);
            font-weight: 600;
          }
        }

        @media screen and (max-width: 1400px) {
          right: 0;
          left: unset;
          transform: translateX(0);
        }
      }
    }
    @media screen and (max-width: 725px) {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      // display: none;
      height: 100%;
      width: 100%;
      padding-top: 8rem;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.1s linear;
      background: $primary-background;

      .nav-links {
        // display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        .nav-link {
          padding: 0.5rem 0;
          font-size: toRem(24);
          color: $primary-text;
          text-decoration: underline;
        }
      }
    }
    @media screen and (max-width: 956px) {
      .nav-links {
        gap: 1rem;
      }
    }
  }
  .nav-content.show {
    display: flex !important;
    visibility: visible;
    opacity: 1;

    // gap: 5rem;
  }

  .nav-links.dark-nav-links {
    .nav-link {
      color: $primary-text !important;
    }
  }
}

.prepify-logo.nav-link {
  z-index: 11;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration: none;
  font-size: toRem(18);
  font-weight: 700;
  color: $primary-background;

  .nav-logo {
    font-size: toRem(36);
    font-weight: 700;
    font-style: italic;
    color: $primary;
    text-decoration: none;
  }

  .beta-tag {
    text-transform: uppercase;
    font-size: toRem(14);
    background: $secondary;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    cursor: pointer;
  }

  @-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(1);
    }

    25% {
      -webkit-transform: scale(1);
      transform: scale(1.1);
    }

    60% {
      -webkit-transform: scale(0.9);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(0.9);
      transform: scale(1);
    }
  }
  @keyframes breathing {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    25% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    60% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  @media screen and (max-width: 725px) {
    .nav-logo {
      font-size: toRem(30);
    }
    .beta-tag {
      font-size: toRem(12);
    }
  }
}
