@import '../../helpers.scss';

.recipe-created-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - #{$nav-height} - #{$footer-height});
  margin-top: $nav-height;

  .created-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: $border-radius;
    box-shadow: $card-box-shadow;
    padding: 2rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
    max-width: 320px;
    width: 90%;
    box-sizing: border-box;

    .celebration-icons {
      opacity: 0;
      animation: start-animation 0.2s ease-out 0.1s forwards;
      .icon {
        position: absolute;
      }
      .icon-1 {
        top: -3rem;
        left: -3.5rem;
        height: 4px;
        width: 4px;
        animation: circle-pulse 5s infinite;
      }
      .icon-2 {
        top: -0.5rem;
        left: -3.4rem;
        height: 12px;
        width: 12px;
        animation: shimmer 10s infinite;
      }
      .icon-3 {
        top: -3rem;
        left: -1.5rem;
        height: 14px;
        width: 14px;
        animation: rotate-star-2 10s infinite;
      }
      .icon-4 {
        bottom: -1rem;
        right: -3rem;
        height: 12px;
        width: 12px;
        animation: rotate-star 5s infinite;
      }
      .icon-5 {
        bottom: -2.2rem;
        right: -5.5rem;
        height: 4px;
        width: 4px;
        animation: circle-pulse-2 4s infinite;
      }
      .icon-6 {
        bottom: 1rem;
        right: -4.5rem;
        height: 3px;
        width: 3px;
        animation: circle-pulse 5s infinite;
      }

      @media screen and (max-width: 600px) {
        .icon-1 {
          top: -3rem;
          left: -1.5rem;
        }
        .icon-2 {
          top: -0.5rem;
          left: -1.4rem;
        }
        .icon-3 {
          top: -3rem;
          left: 0.5rem;
        }
        .icon-4 {
          bottom: -3rem;
          right: 1rem;
        }
        .icon-5 {
          bottom: -4.2rem;
          right: -1.5rem;
        }
        .icon-6 {
          bottom: -1rem;
          right: -0.5rem;
        }
      }

      @keyframes start-animation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes circle-pulse {
        0% {
          color: $primary-text;
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        80% {
          color: $secondary-text;
        }
        100% {
          color: $primary-text;
          transform: scale(1);
        }
      }
      @keyframes circle-pulse-2 {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }

        100% {
          transform: scale(1);
        }
      }
      @keyframes rotate-star {
        0% {
          transform: rotate(-10deg); /* Start rotation, -30 degrees */
        }
        50% {
          transform: rotate(30deg); /* Rotate to 30 degrees clockwise */
        }
        100% {
          transform: rotate(-10deg); /* Rotate back to -30 degrees */
        }
      }
      @keyframes rotate-star-2 {
        0% {
          transform: rotate(-10deg); /* Start rotation, -30 degrees */
        }
        50% {
          transform: rotate(5deg); /* Rotate to 30 degrees clockwise */
        }
        100% {
          transform: rotate(-10deg); /* Rotate back to -30 degrees */
        }
      }
      @keyframes shimmer {
        0% {
          color: $primary-text;
          filter: brightness(1);
        }
        10% {
          color: $primary-text;
          filter: brightness(1.5);
        }
        20% {
          color: $primary-text;
          filter: brightness(1);
        }
        100% {
          color: #303841;
          filter: brightness(1);
        }
      }
    }

    .icon-container {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 50%;
      background: $primary-text;
      height: 70px;
      width: 70px;
      box-shadow: $card-box-shadow;
      .icon {
        height: 35px;
        width: 35px;
        flex-shrink: 0;
        color: $white;
        // stroke-width: 5%;
      }
    }

    .title {
      font-weight: 700;
      font-size: 1.5rem;
      margin: 0 auto;
      text-align: center;
    }
    .text {
      text-align: center;
      font-size: 0.9rem;
      font-weight: 500;
      color: $secondary-text;
      margin-top: 1rem;
    }

    .links {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      .link {
        display: flex;
        width: 120px;
        height: 40px;
        border-radius: $border-radius;
        font-weight: 600;
        font-size: 0.9rem;
        // padding: 0.5rem;
        text-decoration: none;
        &:hover {
          filter: brightness(90%);
        }
      }
      .return-home-btn {
        background: $tertiary-background;
        color: $primary-text;
      }
      .view-recipe-btn {
        background: $primary;
        color: $primary-background;
      }
    }
  }
}
