@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@import './helpers.scss';

* {
  font-family: $font-family;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

#root {
  // background: red;
  overflow: hidden;
}
html {
  overflow: hidden;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  color: $primary-text;
  position: relative;
  width: 100%;
  background: $primary-background;
}

h2 {
  font-weight: 600;
  font-size: toRem(24);
}
h3 {
  font-weight: 500;
  font-size: toRem(24);
}
h4 {
  font-weight: 500;
  font-size: toRem(18);
}
p {
  line-height: 1.75;
}

input {
  &::placeholder {
    color: $tertiary-text;
  }
}

.btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: toRem(24);
  font-weight: 500;
  color: $primary-text;
}
.action-btn {
  padding: 0.75rem 1.5rem;
  border: 2px solid $primary-text;
  border-radius: $border-radius;
  transition: all 0.1s linear;

  &:hover {
    border: 2px solid $primary;
    background: $primary;
  }
}

.page {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: $page-top-padding;
}

.abs-logo {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: $nav-height;
  display: flex;
  align-items: center;
  position: absolute;
  width: 90%;
  max-width: $max-width;
}

.error,
.success {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: $border-radius;
}
.error {
  background: $alert-error-red;
  color: $alert-error-red-text;
  border: 1px solid $alert-error-red-border;
}
.success {
  background: $alert-success-green;
  color: $alert-success-green-text;
  border: 1px solid $alert-success-green-text;
}

// tags
.tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($secondary, 0.3);
  border-radius: $border-radius;
  border: 1px solid rgba($secondary, 0.5);
  color: $primary-text;
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
  font-weight: 600;
  .delete-tag {
    position: absolute;
    right: 0.25rem;
    cursor: pointer;
  }
}

// Alerts
.alert {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: $primary-background;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 800px;
  border: 1px solid $secondary-background;
  border-radius: $border-radius;

  font-weight: 600;
  font-size: toRem(18);

  .content {
    flex: 1;
  }

  .icon {
    height: 25px;
    width: 25px;
  }
  .icon.info {
    color: $secondary;
  }
  .icon.success {
    color: $success-green;
  }
  .icon.error {
    color: $error-red;
  }
}

.window-too-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: toRem(24);
  font-weight: 700;
  height: 100vh;
  width: 100%;
  background: $primary;
  color: $white;
  p {
    width: 90%;
    max-width: 600px;
    text-align: center;
  }
}
